$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

%center{
 margin: { 
        left: auto;
        right: auto;
    }
    text-align: center; 
}

%vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-in($delay, $duration) {
  animation-delay:$delay;
  animation-duration: $duration; 
  -webkit-animation-duration: $duration;         
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}


@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

