$feature-font: 'Nanum Myeongjo', serif;
$body-font: 'Nanum Gothic', sans-serif;
$header: 4em;
$subtitle: 2.5em;

$text: #c9dae2;

$pink: #E9D7D0;
$bright-pink: #E33761;
$dark: #152e3c;

$light: #53A2BE;
$med: #1D84B5;
$darker: #176087;
$indigo: #44355B;
$yellow: #ECA72C;

$body-text: 20px;

$grey: #707375;
$background: #152e3c;