$feature-font: "Noto Sans Display", sans-serif;
$body-font: "Noto Sans Display", sans-serif;
$header: 3em;
$subtitle: 2em;
$subtitle-small: 1.2em;

$text: #c9dae2;

$pink: #e9d7d0;
$accent: #bb3fff;
$accent-light: #d192f3;
$dark: #091a31;

$light: #53a2be;
$med: #1d84b5;
$darker: #176087;
$indigo: #44355b;
$yellow: #eca72c;

$body-text: 20px;

$grey: #707375;
$background: #091a31;
