@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700');
@import 'mixins';

$header-font: 'Montserrat', sans-serif;
$body-font: 'Lato', sans-serif;
$normal: 400;
$bold: 700;
$main-header: 3.5em;
$small-header: 2.3em;
$bigger-text: 1.4em;
$body-text: 1em;


/* colours */
$light-grey: #7b7e80;
$highlight: #478da2; 
$grey: #3b3a3c;
$pink: #E9D7D0;

$bright-pink: #E33761;
$blue: #3DA1B9;
$yellow-green: #BDEEE3;


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        text-decoration: none;
        
    }
body {
  background-color: $grey;
}   


#nav-icon {
    font-size:38px;
    cursor:pointer;
    top: 20px;
    left: 20px;
    position: fixed;
    color: #7b7e80;
    z-index: 2;
    
      @include tablet {
        display: none;
      }
}

.main-nav {
  
  font-size: $body-text;
  background-color:#474548e8;
  z-index: 5;
  text-transform: uppercase;
  
  

  a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    transition: 0.3s;
  }
  
  a:hover {
    background-color: $grey;
    color: white;
   
  }
  
  padding-left:0px;
  display: none;

  @extend %center;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
  
 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*--------projects----------*/
.p-container {
  color: $grey;
}

 .project{
    @extend %section;
    @extend %center;
    h2 {
      @include tablet {
      font-size: $small-header;
    }
      font-size: 1.3em;
      font-weight: $bold;
      color: $grey;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  hr {
    width: 100px;
    height: 6px;
    background-color: $grey;
    margin: 20px auto 0px auto;
  }  
   
 }
 
 .img-container {
   @extend %center;
   max-width: 100%;
 }
 

.project-img {
  height: 200px;
  @include tablet {
    height: 400px;
  }
  
  background-color: $grey;
  margin: 0px auto;
  max-width: 100%;
  
}



.project-btn {
  display: block;
  @include tablet {
    display: inline-block;
  }
  padding: 5px 10px;
  color: white;
  background-color: $light-grey;
  font-size: $body-text;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  transition: all 0.5s ease-in-out;
  i {
    padding-left:5px;
  }
}

.project-btn:hover {
  
  background-color: #595c5d;
  cursor: pointer;

}

  



.p-1 {
  background-image: url('../images/oomp12.jpeg');
}
.p-2 {
  background-image: url('../images/vanlife.jpeg');
}
.p-3 {
  background-image: url('../images/music.jpeg');
}
.p-4 {
  background-image: url('../images/oomp.jpeg');
}


/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 5; 
  top: 0; 
  left: 0;
   background-color:#39373a;
  
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
  a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.chev {
  @extend %center;
  animation: pulse 1.5s infinite ease-in-out;
  display: block;
  
  font-size: 24px;
  text-decoration: none;
  :active {
    text-decoration: none;
  }
  transform: translateY(50px)
}

@keyframes pulse {
  from {
    color: $pink;
  }
  to {
    color: $bright-pink;
  }
}

/* ------------fonts --------------*/



body {
  font-family: $body-font;
}
.title {
    @include tablet {
      font-size: $main-header;
    }
    font-size: $small-header;
    font-family: $header-font;
    font-weight: $bold;
    text-transform: uppercase;
    color: $bright-pink;
}
.subtitle{
  @include tablet {
      font-size: $small-header;
    }
  font-size: $bigger-text;
  font-weight: $bold;
  color: $bright-pink;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title{
  @include tablet {
      font-size: $small-header;
    }
  font-size: $bigger-text;
  font-weight: $bold;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-subtitle{
  @include tablet {
      font-size: $bigger-text;
    }
  font-size: 1.3em;
  font-weight: $bold;
  
}
.white {
  color: white;
}
.body-text {
  font-size: $body-text;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  

}
.section-text {
 
    
}

.lead {
  @include tablet {
      font-size: $bigger-text;
    }
  font-size: 1.3em;
  margin-bottom:40px;
  color: $bright-pink;
}

.intro-text {
  @include tablet {
      font-size: $bigger-text;
    }

  width: 80%;
  @extend %center;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 20px;
  strong {
    
    color: $pink;
    font-weight: $normal;
  }
}
.skills {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    color: $grey;
    text-transform: uppercase;
    font-size: $body-text;
    padding: 6px;
    border: 1px solid $grey;
    border-radius: 6px;
    margin: 10px;
  }
}

.icon-list {
  list-style: none;
  display: inline-flex;
  li {
    color: $bright-pink;
    font-size: 24px;
    padding: 10px;
  }
}
.mini-icon {
  color: $bright-pink;
    font-size: 24px;
    padding-right: 10px;
   
}

.main-hr {
  width: 60%;
  height: 6px;
  background-color: $bright-pink;
  margin: 30px auto 40px auto;
}
.small-hr {
  width: 100px;
  height: 6px;
  background-color: white;
  margin: 20px auto 40px auto;
  
}



.contact-btn {
  padding: 10px 20px;
  border: 1px solid $bright-pink;
  color: $bright-pink;
  @include tablet {
      font-size: $bigger-text;
    }
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  
}

.contact-btn:hover {
  
  opacity: 0.4;
  cursor: pointer;
}


/*-------------containers-----------*/
 
 .about{
   @extend %section;
   @extend %center;
   padding-top: 60px;
   
 }
 
 .skill-section {
   background-color: $blue;
 }
 
 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  @include tablet {
    flex: 2
  }
  
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}


.game {
 
  margin-bottom:40px;
}



.van-pic {
  margin-bottom:20px;
}

.oomp {
  background-color: #cc8e9d;
  img {
    
    background-color:#cc8e9d;
  }
}
.van {
  background-color: $yellow-green;
  color: $grey;
}
.music {
  background-color:#ffca08fa;
  img {
    margin-bottom: 20px;
    background-color:#ffca08fa;
  }
}
.beer {
  background-color: #3da1b9;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color:#f5f5f58a;
  align-items: center; 
  height: 100vh;
   @extend %center;
  opacity: 0.8;
}
 


.background {
  background-color:$grey;
  color: white;
  
}




.parallax-img  { 
  background-image: url("../images/lucy.jpg");
  
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.parallax-container {
    height: 100vh;
}

#pieChart {
  max-width: 200px;
  
}