@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&family=Raleway:wght@300;400&display=swap");
@import "variables";
@import "mixins";

.myCanvas {
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;

  @extend %vertical-center;
  padding: 0px;
}

body {
  background-color: $background;
}

.body-text {
  font-size: $body-text-smaller;
  font-weight: 300;
  @include tablet {
    font-size: $body-text;
  }
}

.hidden {
  display: none;
}

.back-link {
  color: $accent;
}
.back-link:hover {
  color: $accent;
}

ul.chart--horiz {
  list-style: none;
  padding-left: 0px;
}

.intro-title {
  font-size: $subtitle;
  letter-spacing: 2px;
  @include fade-in(1s, 5s);
  @include desktop {
    font-size: $header;
  }
}

.intro-subtitle {
  font-size: $subtitle-small;
  letter-spacing: 1.5px;
  @include fade-in(2s, 5s);
  @include desktop {
    font-size: $subtitle;
  }
}

.intro-hr {
  margin: 20px auto;
  @include fade-in(1.5s, 5s);
  width: 200px;
  height: 2px;
  background-color: white;
  @include desktop {
    width: 300px;
  }
}

.section-hr {
  width: 200px;
  height: 2px;
  background-color: $accent;
  margin: 40px auto;
}

.text-container {
  font-family: $feature-font;
  color: $text;
  z-index: 5;
  @extend %center;
}

.chev {
  @extend %center;
  animation: pulse 1.5s infinite ease-in-out;
  animation-delay: 3s;
  display: block;

  font-size: 24px;
  text-decoration: none;
  :active {
    text-decoration: none;
  }
  transform: translateY(50px);
  position: relative;
  bottom: 30px;
  :hover {
    text-decoration: none;
  }
}

.chevron:hover {
  text-decoration: none;

  :active {
    text-decoration: none;
  }
}

.scroll {
  animation-delay: 3s;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn, pulse;
  @extend %center;
  position: absolute;
  bottom: 60px;
  p {
    color: $text;
    font-family: $feature-font;
  }
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;

  top: 0;
  z-index: 1000;
  width: 100%;
}

.myNav {
  background-color: $background;
  color: $text;
  font-family: $feature-font;
  font-size: 20px;
  width: 100%;
}
.nav-item {
  padding: 5px 20px;
}

/* Setting fade transition and default settings */
body {
  color: $text;
  background-color: $dark;
  transition: background-color 1s ease;
}

.img-container {
  @extend %center;
  max-width: 100%;
}

.project-img {
  height: 200px;
  @include tablet {
    height: 400px;
  }

  margin: 0px auto;
  max-width: 100%;
}

ul.skills {
  padding-left: 0px;
}

.section {
  color: $text;
  text-align: center;
  font-family: $feature-font;
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 70%;
  }
  width: 90%;
  margin: 80px auto;
}

.project-btn {
  display: block;
  @include tablet {
    display: inline-block;
  }
  padding: 5px 10px;
  color: white;
  background-color: $grey;
  font-size: $body-text;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  transition: all 0.5s ease-in-out;
  i {
    padding-left: 5px;
  }
}

.skills {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    color: $text;
    font-size: $body-text;
    padding: 6px;
    border: 1px solid $grey;
    border-radius: 6px;
    margin: 10px;
  }
}

.project-btn:hover {
  background-color: darken($grey, 10%);
  cursor: pointer;
  color: $text;
  text-decoration: none;
}

.message {
  display: none;
}

.error-message {
  display: none;
}

.success-text {
  color: white;
  font-size: $body-text;
  padding: 10px;
}

.display {
  display: inline-block;
  max-width: 80%;
  background-color: #3da1b9;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.display-error {
  display: inline-block;
  max-width: 90%;

  border: 2px solid $accent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.disabled {
  opacity: 0.6;
}

.footer {
  height: 130px;
  text-align: center;
  background-color: lighten($background, 10%);
}

.footer-top {
  height: 10px;
  position: relative;
  background-color: lighten($background, 5%);
}

ul.icon-list {
  padding-left: 0px;
}

//Demo https://speckyboy.com/code-snippets-css3-bar-graphs/
.skills-div {
  width: 80%;
  max-width: 960px;
  min-height: 90vh;
  margin: auto;
  position: relative;
}

.charts {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.chart {
  margin: 30px 0 0;
  &:first-child {
    margin: 0;
  }
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  $border-rad: 4px;
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
  .chart--dev & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
  font-size: 10px;
  @include tablet {
    font-size: $body-text;
  }
}

.contact-form {
  @include tablet {
    width: 60%;
  }
  width: 90%;
  margin: 60px auto;
  background-color: lighten($text, 20%);
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
}

.mb {
  margin-bottom: 40px;
}

.icon-list {
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    color: $accent;
    font-size: 2em;

    transition: all 0.5s ease-in-out;
  }
}

.icon-list a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.link {
  color: $accent-light;
  text-decoration: underline;

  :visited,
  :hover :focus {
    color: $accent;
  }
}

.mini-icon {
  color: $accent;
  font-size: 24px;
  padding-right: 10px;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    color: $pink;
  }
  to {
    color: $accent;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
