@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700");
.main-nav, .project, .img-container, .intro-text, .about, .header-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.project, .about {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 90%; }
  @media (min-width: 768px) {
    .project, .about {
      max-width: 80%; } }
  .project h2, .about h2 {
    margin-top: 40px;
    margin-bottom: 40px; }

/* colours */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  background-color: #3b3a3c; }

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute; }
  @media (min-width: 768px) {
    .burger-icon {
      display: none; } }

.main-nav {
  font-size: 1.4em;
  background-color: #474548e8;
  text-transform: uppercase;
  padding-left: 0px;
  display: none; }
  .main-nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    transition: 0.3s; }
  .main-nav a:hover {
    background-color: #3b3a3c;
    color: white; }
  @media (min-width: 768px) {
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: center; } }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px; }

/*--------projects----------*/
.project-img {
  height: 300px;
  background-color: #3b3a3c;
  margin: 0px auto; }
  @media (min-width: 768px) {
    .project-img {
      height: 484px; } }

.project-btn {
  padding: 5px 10px;
  color: white;
  background-color: #88979e;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  transition: all 0.5s ease-in-out; }
  .project-btn i {
    padding-left: 5px; }

.project-btn:hover {
  background-color: #595c5d;
  cursor: pointer; }

.p-1 {
  background-image: url("../images/oomp12.jpeg"); }

.p-2 {
  background-image: url("../images/vanlife.jpeg"); }

.p-3 {
  background-image: url("../images/music.jpeg"); }

.p-4 {
  background-image: url("../images/oomp.jpeg"); }

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #39373a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .sidenav a:hover {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

/* ------------fonts --------------*/
body {
  font-family: "Lato", sans-serif; }

.title {
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #cc1683; }

.subtitle {
  font-size: 2.3em;
  font-weight: 700;
  color: #cc1683;
  margin-bottom: 20px;
  text-transform: uppercase; }

.section-title {
  font-size: 2.3em;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase; }

.section-subtitle {
  font-size: 1.4em;
  font-weight: 700; }

.white {
  color: white; }

.body-text {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5; }

.lead {
  font-size: 1.4em;
  margin-bottom: 40px;
  color: #cc1683; }

.intro-text {
  width: 80%;
  font-size: 1.4em;
  line-height: 1.5;
  margin-bottom: 20px; }
  .intro-text strong {
    color: #ce638b;
    font-weight: 400; }

.skills {
  list-style: none;
  display: inline-flex; }
  .skills li {
    color: silver;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 20px; }

.icon-list {
  list-style: none;
  display: inline-flex; }
  .icon-list li {
    color: #cc1683;
    font-size: 36px;
    padding: 10px; }

.mini-icon {
  color: #cc1683;
  font-size: 24px;
  padding-right: 10px; }

.main-hr {
  width: 60%;
  height: 6px;
  background-color: #cc1683;
  margin: 30px auto 40px auto; }

.small-hr {
  width: 100px;
  height: 6px;
  background-color: white;
  margin: 20px auto 40px auto; }

.contact-btn {
  padding: 10px 20px;
  border: 1px solid #cc1683;
  color: #cc1683;
  font-size: 1.4em;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out; }
  .contact-btn i {
    transition: all 0.5s ease-in-out; }

.contact-btn:hover {
  color: white;
  background-color: #cc1683;
  cursor: pointer; }
  .contact-btn:hover i {
    color: white; }

/*-------------containers-----------*/
.about {
  padding-top: 60px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .double-column {
      flex: 2; } }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.header-container {
  display: flex;
  justify-content: center;
  background-color: #f5f5f58a;
  align-items: center;
  height: 100vh;
  opacity: 0.8; }

.background {
  background-color: #3b3a3c;
  color: white; }

.parallax-img {
  background-image: url("../images/lucy.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-container {
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
