@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700");
.main-nav, .project, .img-container, .chev, .intro-text, .about, .header-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.project, .about {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 90%; }
  @media (min-width: 768px) {
    .project, .about {
      max-width: 80%; } }
  .project h2, .about h2 {
    margin-top: 40px;
    margin-bottom: 40px; }

/* colours */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

body {
  background-color: #3b3a3c; }

#nav-icon {
  font-size: 38px;
  cursor: pointer;
  top: 20px;
  left: 20px;
  position: fixed;
  color: #7b7e80;
  z-index: 2; }
  @media (min-width: 768px) {
    #nav-icon {
      display: none; } }

.main-nav {
  font-size: 1em;
  background-color: #474548e8;
  z-index: 5;
  text-transform: uppercase;
  padding-left: 0px;
  display: none; }
  .main-nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    transition: 0.3s; }
  .main-nav a:hover {
    background-color: #3b3a3c;
    color: white; }
  @media (min-width: 768px) {
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: center; } }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px; }

/*--------projects----------*/
.p-container {
  color: #3b3a3c; }

.project h2 {
  font-size: 1.3em;
  font-weight: 700;
  color: #3b3a3c;
  margin-top: 60px;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .project h2 {
      font-size: 2.3em; } }
.project hr {
  width: 100px;
  height: 6px;
  background-color: #3b3a3c;
  margin: 20px auto 0px auto; }

.img-container {
  max-width: 100%; }

.project-img {
  height: 200px;
  background-color: #3b3a3c;
  margin: 0px auto;
  max-width: 100%; }
  @media (min-width: 768px) {
    .project-img {
      height: 400px; } }

.project-btn {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: #7b7e80;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  transition: all 0.5s ease-in-out; }
  @media (min-width: 768px) {
    .project-btn {
      display: inline-block; } }
  .project-btn i {
    padding-left: 5px; }

.project-btn:hover {
  background-color: #595c5d;
  cursor: pointer; }

.p-1 {
  background-image: url("../images/oomp12.jpeg"); }

.p-2 {
  background-image: url("../images/vanlife.jpeg"); }

.p-3 {
  background-image: url("../images/music.jpeg"); }

.p-4 {
  background-image: url("../images/oomp.jpeg"); }

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #39373a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s; }
  .sidenav a:hover {
    color: #7b7e80; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.chev {
  animation: pulse 1.5s infinite ease-in-out;
  display: block;
  font-size: 24px;
  text-decoration: none;
  transform: translateY(50px); }
  .chev :active {
    text-decoration: none; }

@keyframes pulse {
  from {
    color: #E9D7D0; }
  to {
    color: #E33761; } }
/* ------------fonts --------------*/
body {
  font-family: "Lato", sans-serif; }

.title {
  font-size: 2.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #E33761; }
  @media (min-width: 768px) {
    .title {
      font-size: 3.5em; } }

.subtitle {
  font-size: 1.4em;
  font-weight: 700;
  color: #E33761;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 2.3em; } }

.section-title {
  font-size: 1.4em;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  margin-top: 60px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 2.3em; } }

.section-subtitle {
  font-size: 1.3em;
  font-weight: 700; }
  @media (min-width: 768px) {
    .section-subtitle {
      font-size: 1.4em; } }

.white {
  color: white; }

.body-text {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5; }

.lead {
  font-size: 1.3em;
  margin-bottom: 40px;
  color: #E33761; }
  @media (min-width: 768px) {
    .lead {
      font-size: 1.4em; } }

.intro-text {
  color: white;
  width: 80%;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .intro-text {
      font-size: 1.4em; } }
  .intro-text strong {
    color: #E9D7D0;
    font-weight: 400; }

.skills {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap; }
  .skills li {
    color: #3b3a3c;
    text-transform: uppercase;
    font-size: 1em;
    padding: 6px;
    border: 1px solid #3b3a3c;
    border-radius: 6px;
    margin: 10px; }

.icon-list {
  list-style: none;
  display: inline-flex;
  margin-top: 20px; }
  .icon-list li {
    padding-left: 10px;
    padding-right: 10px; }
  .icon-list a {
    color: #E33761;
    font-size: 2em;
    transition: all 0.5s ease-in-out; }

.icon-list a:hover {
  cursor: pointer;
  opacity: 0.5; }

.mini-icon {
  color: #E33761;
  font-size: 24px;
  padding-right: 10px; }

.main-hr {
  width: 60%;
  height: 6px;
  background-color: #E33761;
  margin: 30px auto 40px auto; }

.small-hr {
  width: 100px;
  height: 6px;
  background-color: white;
  margin: 20px auto 40px auto; }

.contact-btn {
  padding: 10px 20px;
  border: 1px solid #E33761;
  color: #E33761;
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .contact-btn {
      font-size: 1.4em; } }

.contact-btn:hover {
  opacity: 0.4;
  cursor: pointer; }

/*-------------containers-----------*/
.about {
  padding-top: 60px;
  min-height: 85vh; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .double-column {
      flex: 2; } }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.game {
  margin-bottom: 40px; }

.van-pic {
  margin-bottom: 20px; }

.oomp {
  background-color: #3da1b9; }
  .oomp img {
    background-color: #3da1b9; }

.van {
  background-color: #BDEEE3;
  color: #3b3a3c; }

.music {
  background-color: #78cdd6; }
  .music img {
    margin-bottom: 20px;
    background-color: #78cdd6; }

.beer {
  background-color: #3da1b9; }

.header-container {
  display: flex;
  justify-content: center;
  background-color: #f5f5f58a;
  align-items: center;
  height: 100vh;
  opacity: 0.8; }

.background {
  background-color: #3b3a3c;
  color: white; }

.parallax-img {
  background-image: url("../images/lucy.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-container {
  height: 100vh; }

.footer {
  height: 120px;
  text-align: center;
  background-color: #474548; }

.footer-top {
  height: 20px;
  position: relative;
  background-color: #7b7e802e; }

.skills-div {
  width: 80%;
  max-width: 960px;
  min-height: 90vh;
  margin: auto;
  position: relative; }

.charts {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.chart {
  margin: 30px 0 0; }
  .chart:first-child {
    margin: 0; }

.chart--horiz {
  overflow: hidden; }

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards; }
  .chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s; }
  .chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s; }
  .chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s; }
  .chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s; }
  .chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s; }
  .chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s; }
  .chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s; }
  .chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s; }
  .chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s; }
  .chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s; }
  .chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s; }

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
  font-size: 10px; }
  @media (min-width: 768px) {
    .chart__label {
      font-size: 1em; } }

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.contact-form {
  width: 80%;
  margin: 60px auto;
  background-color: white;
  color: #3b3a3c;
  padding: 20px;
  border-radius: 7px; }
  .contact-form input {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-bottom: solid 1px #7b7e80; }
  .contact-form textarea {
    padding: 10px 10px 40px 10px;
    width: 80%;
    border: 1px solid #7b7e80;
    border-radius: 10px;
    margin-top: 20px; }

.contact-page-btn {
  padding: 10px 20px;
  border: 1px solid #3da1b9;
  color: #3da1b9;
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 30px auto;
  transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .contact-page-btn {
      font-size: 1.4em; } }

.contact-page-btn:hover {
  background-color: #3da1b9;
  color: white;
  cursor: pointer; }

.message {
  display: none; }

.error-message {
  display: none; }

.success-text {
  color: white;
  font-size: 1em;
  padding: 10px; }

.display {
  display: inline-block;
  max-width: 80%;
  background-color: #3da1b9;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto; }

.display-error {
  display: inline-block;
  max-width: 80%;
  background-color: #E33761;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto; }

.disabled {
  opacity: 0.6; }

/*# sourceMappingURL=style.css.map */
