@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap");
.img-container, .scroll, .chev, .text-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.myCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myCanvas {
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  padding: 0px;
}

body {
  background-color: #152e3c;
}

.body-text {
  font-size: 20px;
}

.hidden {
  display: none;
}

ul.chart--horiz {
  list-style: none;
  padding-left: 0px;
}

.intro-title {
  font-size: 4em;
  letter-spacing: 2px;
  animation-delay: 1s;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.intro-subtitle {
  font-size: 2.5em;
  letter-spacing: 1.5px;
  animation-delay: 2s;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.intro-hr {
  margin: 20px auto;
  animation-delay: 1.5s;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
  width: 300px;
  height: 2px;
  background-color: white;
}

.section-hr {
  width: 200px;
  height: 2px;
  background-color: #E33761;
  margin: 40px auto;
}

.text-container {
  font-family: "Nanum Myeongjo", serif;
  color: #c9dae2;
  z-index: 5;
}

.chev {
  animation: pulse 1.5s infinite ease-in-out;
  animation-delay: 3s;
  display: block;
  font-size: 24px;
  text-decoration: none;
  transform: translateY(50px);
  position: relative;
  bottom: 30px;
}
.chev :active {
  text-decoration: none;
}
.chev :hover {
  text-decoration: none;
}

.chevron:hover {
  text-decoration: none;
}
.chevron:hover :active {
  text-decoration: none;
}

.scroll {
  animation-delay: 3s;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn, pulse;
  position: absolute;
  bottom: 60px;
}
.scroll p {
  color: #c9dae2;
  font-family: "Nanum Myeongjo", serif;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.myNav {
  background-color: #162f3ced;
  color: #c9dae2;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  width: 100%;
}

.nav-item {
  padding: 5px 20px;
}

/* Setting fade transition and default settings */
body {
  color: #c9dae2;
  background-color: #152e3c;
  transition: background-color 1s ease;
}

.img-container {
  max-width: 100%;
}

.project-img {
  height: 200px;
  margin: 0px auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .project-img {
    height: 400px;
  }
}

ul.skills {
  padding-left: 0px;
}

.section {
  color: #c9dae2;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  width: 90%;
  margin: 80px auto;
}
@media (min-width: 768px) {
  .section {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .section {
    width: 70%;
  }
}

.project-btn {
  display: block;
  padding: 5px 10px;
  color: white;
  background-color: #707375;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .project-btn {
    display: inline-block;
  }
}
.project-btn i {
  padding-left: 5px;
}

.skills {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills li {
  color: #c9dae2;
  font-size: 20px;
  padding: 6px;
  border: 1px solid #707375;
  border-radius: 6px;
  margin: 10px;
}

.project-btn:hover {
  background-color: #57595b;
  cursor: pointer;
  color: #c9dae2;
  text-decoration: none;
}

.message {
  display: none;
}

.error-message {
  display: none;
}

.success-text {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.display {
  display: inline-block;
  max-width: 80%;
  background-color: #3da1b9;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.display-error {
  display: inline-block;
  max-width: 90%;
  border: 2px solid #E33761;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.disabled {
  opacity: 0.6;
}

.footer {
  height: 130px;
  text-align: center;
  background-color: #295975;
}

.footer-top {
  height: 10px;
  position: relative;
  background-color: #224b62;
}

ul.icon-list {
  padding-left: 0px;
}

.skills-div {
  width: 80%;
  max-width: 960px;
  min-height: 90vh;
  margin: auto;
  position: relative;
}

.charts {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.chart {
  margin: 30px 0 0;
}
.chart:first-child {
  margin: 0;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--dev .chart__bar:nth-of-type(11) {
  animation-delay: 2.7s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  animation-delay: 0.7s;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
  font-size: 10px;
}
@media (min-width: 768px) {
  .chart__label {
    font-size: 20px;
  }
}

.contact-form {
  width: 90%;
  margin: 60px auto;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .contact-form {
    width: 60%;
  }
}

.mb {
  margin-bottom: 40px;
}

.icon-list {
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
}
.icon-list li {
  padding-left: 10px;
  padding-right: 10px;
}
.icon-list a {
  color: #E33761;
  font-size: 2em;
  transition: all 0.5s ease-in-out;
}

.icon-list a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.mini-icon {
  color: #E33761;
  font-size: 24px;
  padding-right: 10px;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    color: #E9D7D0;
  }
  to {
    color: #E33761;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*# sourceMappingURL=style.css.map */
